@import 'utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smothing:antialiased;

}
html{
    font-size: 10px;
    font-family: 'Montserrat' , sans-serif;
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#my-pic{
    background-image: url(a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#my-pic::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#my-pic .my-pic{
    max-width: 1200px;
    margin: 0;
    padding: 15%;
    justify-content: flex-start;
}
#my-pic h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#my-pic h1:nth-child(1){
    animation-delay: 1s;
    font-size: 4rem;
}
#my-pic h1:nth-child(2){
    animation-delay: 2s;
    font-size: 2.5rem;
}
#my-pic h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: tomato;
    animation: text_reveal_box .5s ease;
    animation-delay: .3s;
    }
#my-pic h1:nth-child(1) span{
    animation-delay: .5s;
}
#my-pic h1:nth-child(2) span{
    animation-delay: 1.5s;
    text-size
}
#my-pic .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid tomato;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#my-pic .cta:hover{
    color: white;
    background-color: tomato;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:wheat;
    }
}
header{
    background-color: black;
}
.add{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{
    color: blanchedalmond;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;

}
 header nav .left a:hover{
     color: tomato;
 }
header nav{
    padding: 2rem 0;
} 
section.about{
    padding: 6rem 0;
}
section.about h2{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h2 span{
    color: tomato;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.contain{
    max-width: 1152px;
    padding: 0 15px;
}